# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
generated_plugin_registrant.dart

# Android
.android/
app/build/
.gradle/
*.iml
*.keystore

# iOS
ios/Flutter/Generated.xcconfig
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
ios/.dart_tool/
*.xcworkspace
*.xcuserstate
*.xcuserdatad

# VS Code
.vscode/

# IntelliJ/Android Studio
.idea/
*.iml

# CI/CD e Logs
coverage/
*.log

# system files
.DS_Store
Thumbs.db
